@use 'baselinegrid' as bg with (
  $debug: 1
);

@import url(node_modules/sanitize.css/sanitize.css);

@include bg.begin();

html {
  font-family: Georgia, serif;
  @include bg.root();
}

article {
  transition: padding .3s cubic-bezier(.65,.05,.36,1);
  > section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(bg.h(18), 1fr));
    column-gap: bg.h();
    padding: bg.v() 0;
  }
  @include bg.pad-scale();
}

h1, h2 {
  font-family: Verdana, sans-serif;
}

h1, h2, p {
  max-width: bg.h(40);
  margin: 0;
  transition: all .3s cubic-bezier(.65,.05,.36,1);
}

h1 {
  @include bg.scale('font-size', (
    'xs': 35px,
    's': 38px,
    'm': 60px,
    'l': 65px,
    'xl': 70px,
    'xxl': 73px,
    'ul': 75px
  ));
}

h2 {
  @include bg.scale('font-size', (
    'xs': 30px,
    's': 34px,
    'm': 42px,
    'l': 44px,
    'xl': 48px,
    'xxl': 52px,
    'ul': 55px
  ));
}
p {
  @include bg.set();
}

section {
  p, figcaption {
    &:nth-of-type(1) {
      @include bg.set();
    }
    &:nth-of-type(2) {
      @include bg.set(23px);
    }
    &:nth-of-type(3) {
      padding-top: bg.v();
      @include bg.set(11px);
    }
  }
}

figure {
  margin: 0;
  padding-top: bg.v();
  img {
    width: 100%;
    object-fit: cover;
    height: bg.v(20);
    display: block;
  }
}

#gridblock {
  position: fixed;
  top: 0;
  background-color: red;
  left: bg.h();
  width: bg.h();
  height: bg.v();
}
